{% extends "base.html" %}
{% block start %}

<div class="container mt-5">

    <form class="mb-3 mx-auto card p-3 shadow-lg" method="POST" enctype="multipart/form-data">
       <!-- have to use method="POST" enctype="multipart/form-data" else it wont work  -->
       <!-- enctype="multipart/form-data if we do not use it file image wont be uploaded-->
         {% csrf_token %}
         <!-- to prevent csrf attack -->
      
        <div >
            <h2>Add Receipe</h2>
          <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
          <input name="Receipe__name"  type="text" class="form-control">
           <!--In HTML forms, the name attribute is used to identify form controls (such as input fields, textarea, and select dropdowns) when the form is submitted. 
            When the form is submitted, the data from these form controls is sent to the server, where it can be processed.-->
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Receipe Description</label>
          <textarea name="Receipe_description" class="form-control"></textarea>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Receipe Description</label>
            <input name="Receipe_img" type="file" class="form-control" >
          </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>


</div>
   
<div class="mt-5">
  <div class="mt-auto col-6">
    <form>
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"> Search Receipe</label>
    <input name="Search"  type="text" class="form-control">
    
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
  </div>
</div>

<table class="table mt-5">
  <thead >
    <tr>
      <th scope="col">#</th>
      <th scope="col">Receipe Name</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for r in X %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{r.r_name}}</td>
      <td>{{r.r_des}}</td>
      <td>
        <img src="/media/{{r.r_img}}" style ="height : 100px"></td>
        <td>
          <a href="{% url 'delete_res' r.id %}" class="btn btn-danger m-2">Delete</a>
          <a href="{% url 'update_res' r.id %}" class="btn btn-success">update</a>
        </td>
    </tr>
   {% endfor %}
  </tbody>
</table>


{% endblock %}